.Principal {
    width: 100%;
    padding-bottom: 20px;
    background-color: #e3e3e3;
    .margin-horizontal {
      margin: 0 20px;
    }
    .rosa, .imortel-1, .imortel-2 {
      background-color: #f3f3f3;
      overflow: hidden;
    }
}
